{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  <!-- Check if a gadget object exists to determine if we're editing or creating -->
  {% if gadget %}
    <h1>Edit {{ gadget.name }}</h1>
    <!-- This works too (<h1>Edit {{ object.name }}</h1>) -->
  {% else %}
    <h1>Create a Gadget</h1>
  {% endif %}
  <img src="" alt="A toolbox or holster" />
</div>

<!-- No need to create a form! Handled by Django with this boilerplate! -->
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }} 
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}