{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}
{% block content %}

<section class="page-header">
    <h1>Mission Files</h1>
    <img src="" alt="Sunglasses! Put sun glasses!" />
    <img src="" alt="A dagger probably" />
    <img src="" alt="A gun maybe" />
    <img src="" alt="Some roman symbol" />
  </section>

<section class="card-container">
  {% for mission in missions %}
    <article class="card">
      <div class="card-title">
        <a href="{% url 'mission-detail' mission.id %}">
          <h2>[{{ mission.code_name }}]</h2>
        </a>
      </div>

      <div class="card-data-preview">
        <h3>{{ mission.get_urgency_display }} - {{ mission.get_mission_type_display }}</h3>
        <p>[{{ mission.location }}]</p>

        <small>Mission File ID #{{ mission.id }}</small>

        {% if user and mission.user.id == user.id %}
        <div class="card-actions">
          <a href="{% url 'mission-update' mission.id %}" class="btn warn">Edit</a>
          <a href="{% url 'mission-delete' mission.id %}" class="btn danger">Delete</a>
        </div>
        {% else %}
          <p>Mission file by {{mission.user.username}}</p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

{% endblock %}
