{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="object-container">
  
  <div class="object-details">

    <h1 class="object-title">{{ mission.code_name }}</h1>

    <div class="info-stats-container">

      <section class="info-container">

        <h3 class="object-title"> Mission Objective</h3>
        
        <ul>
          <div class="links-card">
            {% if user.is_authenticated %}
            <li>{{ mission.get_urgency_display }}</li>
            <li>{{ mission.get_mission_type_display }}</li>
            {% else %}
            <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
            {% endif %}
          </div>
        </ul>
        
      </section> 

      <section class="info-container">
        <img src="{% static 'images/globe.png' %}" alt="Globe">
        {% if user.is_authenticated %}
        <h3><small>{{ mission.objective }}</small></h3>
        {% else %}
        <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
        {% endif %}
      </section>
  
      <section class="stats-container">
          
        <div class="stat-card">
          <h3 class="object-title">Mission Details</h3>
  
          <ul>
            <div class="links-card">
              {% if user.is_authenticated %}
              <li>Client: {{ mission.client }}</li>
              <li>{{ mission.location }}</li>
              <li>Date: {{ mission.date }}</li>
              {% else %}
              <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
              {% endif %}
            </div>
          </ul>
        </div>
          
      </section>

    </div>

    <article class="lore-container">
      {% if user.is_authenticated %}
      <p>{{ mission.debrief }}</p>
      {% else %}
      <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
      {% endif %}
    </article>

    <!-- Update and delete mission -->
     
    {% if user and mission.user.id == user.id %}
    <p class="authorized-data-label">[Editing privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'mission-update' mission.id %}" class="btn warn">Edit</a>
        <a href="{% url 'mission-delete' mission.id %}" class="btn danger">Delete</a>
      </div>
    {% elif user and user.is_superuser %}
    <p class="admin-data-label">[Admin privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'mission-update' mission.id %}" class="btn warn">Edit</a>
        <a href="{% url 'mission-delete' mission.id %}" class="btn danger">Delete</a>
      </div>
    {% else %}
      <p class="redacted-data-label">[Editing privileges denied by file owner ({{mission.user.username}})]</p>
    {% endif %}

    <!-- Items associated with this specific mission -->
<div class="related-objects-container">

    <!-- Mission agents -->
    <section class="related-objects">
      <div class="object-title">
        <h2>Global Assets</h2>
        <img src="{% static 'images/bw-globe.svg' %}" alt="A Globe" />
      </div>


      {% if user.is_authenticated %}
      <h3>Agents assigned to {{ mission.code_name }}</h3>
      <div class="card-container">
        {% if mission.agents.count %} 
          {% for agent in mission.agents.all %}
            <div class="card">
              <a href="{% url 'agent-detail' agent.id %}">
                <p class="object-title">{{ agent.code_name }} - <small>{{ agent.get_experience_level_display }} {{ agent.get_agent_type_display }}</small></p>
              </a>
              <!-- Remove agent from mission -->
              {% if user and mission.user.id == user.id %}
              <form action="{% url 'remove-agent' mission.id agent.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove Agent</button>
              </form>
              {% endif %}
            </div>
          {% endfor %} 
        {% else %}
          <p class="no-related-objects">No agents assigned to {{mission.code_name}}</p>
        {% endif %}
      </div>
  
      
      <h3 class="object-title">Unassigned Agents</h3>
      <div class="card-container">
        {% if agents.count %} 
          {% for agent in agents.all %}
            <div class="card">
              <a href="{% url 'agent-detail' agent.id %}">
                <p class="object-title">{{ agent.code_name }} - <small>{{ agent.get_experience_level_display }} {{ agent.get_agent_type_display }}</small></p>
              </a>
  
              <!-- Give agent to mission -->
              
              <form action="{% url 'associate-agent' mission.id agent.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
                {% csrf_token %}
                <button type="submit" class="btn submit">Assign agent</button>
              </form>
              
              
            </div>
          {% endfor %} 
        {% else %}
          <p class="all-agents">All agents have been assigned to {{mission.code_name}}</p>
        {% endif %}
      </div>
      {% else %}
      <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
      {% endif %}
  
  
    </section>

</div>

{% endblock %}
