.btn {
    background-color: blue;
    border-color: yellow;
    border-style: groove;
    border-width: 0.1vw;
    transition: transform 0.5s;
}

.btn:hover {
    transform: scale(1.3);
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 0.1vw inset tomato;
    margin: 2vw;
    padding: 2vw;
    transition: background-color ease 0.5s;
}

.card-title {
    background-color: tomato;
    transition: background-color ease 0.5s;
}

.card:hover {
    background-color: chartreuse;
}

.card-title:hover {
    background-color: tomato;
}