{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="object-container">
  
  <div class="object-details">

    <h1 class="object-title">{{ gadget.name }}</h1>
    <h3>{{ gadget.tagline }}</h3>

    <div class="info-stats-container">

      <section class="info-container">
        
        <h2 class="object-title">Origin</h2>

        <ul>
          <div class="links-card">
            {% if user.is_authenticated %}
            <li>Manufactured by: [{{ gadget.manufacturer }}]</li>
            {% else %}
            <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
            {% endif %}
          </div>
        </ul>
      </section> 

      <section class="info-container">
        <img src="{% static 'images/toolbox.webp' %}" alt="toolbox">
      </section>
  
      <section class="stats-container">
          
        <div class="stat-card">
          <h3 class="object-title">Details</h3>
          <ul>
            <div class="links-card">
              {% if user.is_authenticated %}
              <li> {{gadget.get_type_display}} </li>
              <li> File G-{{gadget.id}} </li>
              {% else %}
              <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
              {% endif %}
            </div>
          </ul>
        </div>
          
      </section>

    </div>

    <article class="lore-container">
      {% if user.is_authenticated %}
      <p>{{ gadget.description }}</p>
      {% else %}
      <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
      {% endif %}
    </article>

    <!-- Update and delete gadget -->
    {% if user and gadget.user.id == user.id %}
    <p class="authorized-data-label">[Editing privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
        <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
      </div>
    {% elif user and user.is_superuser %}
    <p class="admin-data-label">[Admin privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
        <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
      </div>
    {% else %}
      <p class="redacted-data-label">[Editing privileges denied by file owner ({{gadget.user.username}})]</p>
    {% endif %}

  </div>

</section>

{% endblock %}
