{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Gadget Files</h1>
  <div class="image-header">
    <img src="{% static 'images/shades.svg' %}" alt="Shades" />
    <img src="{% static 'images/blade-symbol.svg' %}" alt="Call to arms (Blade symbol)" />
    <img src="{% static 'images/magnifying-glass.svg' %}" alt="A magnifying glass" />
    <img src="{% static 'images/pistol.svg' %}" alt="Pistol" />
    <img src="{% static 'images/laptop.svg' %}" alt="Laptop" />
    <img src="{% static 'images/bw-globe.svg' %}" alt="A Globe" />
  </div>
</section>

<section class="card-container">
  {% for gadget in gadgets %} <!-- For loop, maps all gadget data into neat cards -->

    <article class="card">
       
      <a href="{% url 'gadget-detail' gadget.id %}">
        <div class="card-title">
            <h2>[{{ gadget.name }}]</h2>
        </div>
      </a>

      <div class="card-data-preview">
        <h3>{{ gadget.get_type_display }}</h3> 

        <p>{{ gadget.tagline }}</p>

      <!-- Update and delete gadget -->
      {% if user and gadget.user.id == user.id %}
      <p class="authorized-data-label">[Editing privileges granted, {{user.username}}]</p>
        <div class="card-actions">
          <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
          <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
        </div>
      {% elif user and user.is_superuser %}
      <p class="admin-data-label">[Admin privileges granted, {{user.username}}]</p>
        <div class="card-actions">
          <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
          <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
        </div>
      {% else %}
        <p class="redacted-data-label">[Editing privileges denied by file owner ({{gadget.user.username}})]</p>
      {% endif %}

      <p><small>File G-{{ gadget.id }}</small></p>

    </article>
  {% endfor %}
</section>

{% endblock %}