{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Gadget Files</h1>
  <img src="" alt="Sunglasses! Put sun glasses!" />
  <img src="" alt="A dagger probably" />
  <img src="" alt="A gun maybe" />
  <img src="" alt="Some roman symbol" />
</section>

<section class="card-container">
  {% for gadget in gadgets %} <!-- For loop, maps all gadget data -->

    <article class="card">
      <!-- Hard coded URLS (<a href="/gadgets/{{ gadget.id }}">) not reccomended -->
       
          
            <!-- 
            Double curly braces means page is rendering PYTHON syntax, like react 
            -->
            <div class="card-title">
              <a href="{% url 'gadget-detail' gadget.id %}">
                <h2>[{{ gadget.name }}]</h2>
              </a>
            </div>
  
            <div class="card-data-preview">
              <h3>{{ gadget.get_type_display }}</h3> 
    
              <p>{{ gadget.tagline }}</p>
    
              <small>Gadget File ID #{{ gadget.id }}</small>
              
            
  
            <!-- Update and delete gadget -->
            {% if user and gadget.user.id == user.id %}
              <div class="card-actions">
                <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
                <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
              </div>
            {% else %}
              <p>Gadget file by {{gadget.user.username}}</p>
              {% endif %}
          </div>
       
          
    

           <!-- Conditional rendering -->
          <!-- {% if gadget.property %} -->
          <!-- {% else %} -->
          <!-- {% endif %} Stops If/Else blocks  -->

    </article>
  {% endfor %}
</section>

{% endblock %}