{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/gadgets/gadget-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Your Gadget List</h1>
  <img src="" alt="Sunglasses! Put sun glasses!" />
  <img src="" alt="A dagger probably" />
  <img src="" alt="A gun maybe" />
  <img src="" alt="Some roman symbol" />
</section>

<section class="card-container">
  {% for gadget in gadgets %} <!-- For loop, maps all gadget data -->
    <div class="card">
      <!-- Hard coded URLS (<a href="/gadgets/{{ gadget.id }}">) not reccomended -->
      <a href="{% url 'gadget-detail' gadget.id %}">
        <div class="card-content">
          <!-- 
          Double curly braces means page is rendering PYTHON syntax, like react 
          -->
          <h2 class="card-title"> [#{{ gadget.id }}] - {{ gadget.name }}</h2>
          
          <p><small>{{ gadget.get_type_display }}</small></p>

          <h3>{{ gadget.tagline }}</h3> 

          <!-- Update and delete gadget -->
          <div class="gadget-actions">
            <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
            <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
          </div>
          
    

           <!-- Conditional rendering -->
          <!-- {% if gadget.property %} -->
          <!-- {% else %} -->
          <!-- {% endif %} Stops If/Else blocks  -->

        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}