{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/gadgets/gadget-detail.css' %}" />
{% endblock %} 
{% block content %}

<div class="card">

  <div class="card-content">
    <h2>{{ gadget.name }}</h2>
    <h3>{{ gadget.tagline }}</h3>
    <small>{{ gadget.get_type_display }}</small>
    <p>{{gadget.description}}</p>
    <h6>(Manufactured by {{ gadget.manufacturer }})</h6>
  </div>
  
</div>

<!-- Update and delete gadget -->
<a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
<a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>

{% endblock %}