{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="agent-container">
  
  <div class="object-details">

    <h1 class="object-title">{{ gadget.name }}</h1>
    <h3>{{ gadget.tagline }}</h3>

    <div class="info-stats-container">

      <section class="info-container">
        
        <h2 class="object-title">Origin</h2>
        <ul>
          <div class="links-card">
            <li>[{{ gadget.manufacturer }}]</li>
            
          </div>
        </ul>
      </section> 
  
      <section class="stats-container">
          
        <div class="stat-card">
          <h3 class="object-title">Details</h3>
          <ul>
            <div class="links-card">
              <li> {{gadget.get_type_display}} </li>
              <li> File #{{gadget.id}} </li>
            </div>
          </ul>
        </div>
          
      </section>

    </div>

    <article class="lore-container">
      <p>{{ gadget.description }}</p>
    </article>

    <!-- Update and delete gadget -->
    {% if gadget.user.id == user.id %}
    <div class="card-actions">
      <a href="{% url 'gadget-update' gadget.id %}" class="btn warn">Edit</a>
      <a href="{% url 'gadget-delete' gadget.id %}" class="btn danger">Delete</a>
    </div>
    {% else %}
        <p>Gadget file by {{user.username}}</p>
    {% endif %}

  </div>

</section>

{% endblock %}
