{% load static %} <!-- Import CSS and JS from static folder -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />

    <title>Global Contracts</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" /> <!-- Insert CSS -->
    
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>

      <div class="header-title-container">
        <a href="/">
          <h1>Global Contracts</h1>
          <h2>Malum necessarium</h2>
        </a>
      </div>
      
      <nav>
        <ul>

          {% if user.is_authenticated %} <!-- Conditional based on if user is logged in or not -->

          <div class="links-card">
            <li><a href="{% url 'about' %}">About our organization</a></li>
          </div>

          <div class="links-card">
            <li><a href="{% url 'agent-index' %}">View agent files</a></li>
            <li><a href="{% url 'your-agent-index' %}">Your agent files</a></li>
            <li><a href="{% url 'agent-create' %}">Create agent file</a></li>
          </div>

          <div class="links-card">
            <li><a href="{% url 'gadget-index' %}">View gadget files</a></li>
            <li><a href="{% url 'your-gadget-index' %}">Your gadget files</a></li>
            <li><a href="{% url 'gadget-create' %}">Create gadget file</a></li>
          </div>

          <div class="links-card">
            <li><a href="{% url 'mission-index' %}">View mission files</a></li>
            <li><a href="{% url 'your-mission-index' %}">Your mission files</a></li>
            <li><a href="{% url 'mission-create' %}">Create mission file</a></li>
          </div>

          <!-- Logout -->
          <li>
            <form class="links-card" id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>

          {% else %}
          <div class="links-card">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          </div>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     <!-- Page content renders here-->
     {% endblock %}
     </main>
  </body>
</html>
