{% load static %} <!-- Import CSS and JS from static folder -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />

    <title>Global Contracts</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" /> <!-- Insert CSS -->
    
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>

      <div class="header-title-container">
        <a href="/">
          <h1>Global Contracts</h1>
          <h2>Malum necessarium</h2>
        </a>
      </div>

      
      
      <nav>
        <a href="{% url 'about' %}">
          <h5 class="link-header">
            About our organization
          </h5>
        </a>
        <ul>

          {% if user.is_authenticated %} <!-- Conditional based on if user is logged in or not -->


          <section>
            <h5 class="link-header">All Files</h5>
            <div class="links-card">
              
              <li><a href="{% url 'agent-index' %}">Agents</a></li>
              <li><a href="{% url 'gadget-index' %}">Gadgets</a></li>
              <li><a href="{% url 'mission-index' %}">Missions</a></li>
          </section>
            
            
          </div>

          <section>
            <h5 class="link-header">Your Files</h5>
            <div class="links-card">
  
              <li><a href="{% url 'your-agent-index' %}">Agents</a></li>
              <li><a href="{% url 'your-gadget-index' %}">Gadgets</a></li>
              <li><a href="{% url 'your-mission-index' %}">Missions</a></li>
            </div>
          </section>

          <section>
            <h5 class="link-header">Create Files</h5>
            <div class="links-card">
              
              <li><a href="{% url 'agent-create' %}">Agents</a></li>
              <li><a href="{% url 'gadget-create' %}">Gadgets</a></li>
              <li><a href="{% url 'mission-create' %}">Missions</a></li>
            </div>
          </section>

          <!-- Logout -->
          <div class="links-card">
            
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
              
                
              
            
          </div>

          {% else %}
          <section>
            <h5 class="link-header">Confirm clearance</h5>
            <div class="links-card">
              <li><a href="{% url 'home' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </div>
          </section>

          <section>
            <h3 class="link-header">All Files</h3>
            <div class="links-card">
              
              <li><a href="{% url 'agent-index' %}">Agents</a></li>
              <li><a href="{% url 'gadget-index' %}">Gadgets</a></li>
              <li><a href="{% url 'mission-index' %}">Missions</a></li>
            </div>
          </section>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     <!-- Page content renders here-->
     {% endblock %}
     </main>
  </body>
</html>
