{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<!--  Conditional log in-sign up -->

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1 class="redacted-data-label">Enter your credentials</h1>
    {% csrf_token %} {{ form.as_p }}
    <!-- 'value="{{ next }}' is a feature of Django’s authentication that will automatically redirect a 
     user that tries to access a protected route back to that route after they log in -->
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% elif user.is_superuser %}
<section class="tagline-container">
  <p class="admin-data-label">[Admin privileges granted, {{user.username}}]</p>
</section>
{% else %}
<section class="tagline-container">
  <p class="authorized-data-label">[You have been authorized, {{user.username}}]</p>
</section>

{% endif %}

{% endblock %}