@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@1,521&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Hanken+Grotesk:ital,wght@0,200;1,200&family=Montserrat:ital,wght@1,521&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body which is the default of everything */
body {
    margin: auto;
    text-align: center;
    background: linear-gradient(#0f0f0f, #2c2c2c, #0f0f0f);
    color: gold;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Header for top of page */
.header-title-container {
    font-family: "Black Ops One", sans-serif;
    margin: 2rem 0;
    background-color: #2c2c2c;
    border-radius: 10px;
    border: 2px inset gold; 
    padding: 1rem 2rem;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s ease-in-out;
    
}


.header-title-container h1 {
    font-size: 3rem;
    color: crimson;
    border-radius: 10px;
    border: 2px inset;
    background-color: #1b1b1b;
    margin: 0;
    transition: color ease-in-out 0.5s, background-color 0.5s ease-in-out;
}

.header-title-container h2 {
    
    font-size: 1.2rem;
    color: gold;
    border-radius: 10px;
    border: 1px solid #333;
    margin: 0.5rem 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;     
    transition: transform ease-in-out 0.5s, opacity 0.5s, visibility 0.5s;
    background: linear-gradient(#1b1b1b, #2c2c2c);         
}

.header-title-container:hover {
    
    background-color: rgb(73, 73, 73);
}

.header-title-container h1:hover {
    color: gold;
    background-color: rgb(73, 73, 73);
}

.header-title-container h2:hover {
    opacity: 1;           
}

.page-header {
    padding: 2rem 0;
    color: crimson;
    border-bottom: 2px solid #444;
    font-family: "Black Ops One", sans-serif;
    text-align: center;
}

.page-header img {
    width: 50px;
    height: auto;
    margin: 1rem;
    filter: grayscale(100%) brightness(70%);
    transition: filter 0.5s ease-in-out-in-out;
}

.page-header img:hover {
    filter: grayscale(0%) brightness(100%);
}

.link-header {
    background-color: #1b1b1b;
    border-radius: 10px;
    border: 2px inset gold;
    padding: 1rem;
    
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.link-header:hover {
    background-color: crimson;
    color: silver;
}

/* Links */
a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: goldenrod;
}

/* Navbar */
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    /* padding: 0; */
}

li {
    transition: background-color 0.5s ease-in-out;
    padding: 1rem;
    font-size: smaller;
}

li:hover {
    background-color: green;
    border-radius: 5px;
}

/* Nav Bar and Object detail Cards */
.links-card {
    border: 2px inset tomato;
    padding: 1vw;
    margin: 1vw;
    height: 50%;
    border-radius: 10px;
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.links-card:hover {
    background-color: springgreen;
    transform: scale(1.05); /* Consider removing all transform scales, not that sleek and no nonsense IMO */
}

/* Buttons by both class and function */
button, .btn {
    background-color: darkmagenta;
    border: 2px groove yellow;
    /* color: white; */
    font-size: 1rem;
     /* Consider changing to something else */
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    margin: 2vw;
}

button:hover, .btn:hover {
    transform: scale(1.1);
    background-color: goldenrod;
    color: #1b1b1b;
}



/* Mobile */
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
    }

    .links-card {
        margin: 1rem 0;
    }

    button, .btn {
        width: 100%;
    }
}

.redacted-data-label {
    display: inline-block;
    font-family: "Black Ops One", sans-serif;
    font-size: 1rem;
    color: #ffd700;
    background-color: #1b1b1b;
    padding: 0.5rem 1rem;
    border: 2px dashed crimson;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.redacted-data-label:hover {
    background-color: crimson;
    color: #fff;
}

.authorized-data-label {
    display: inline-block;
    font-family: "Black Ops One", sans-serif;
    font-size: 1rem;
    color: #21f379;
    background-color: #1b1b1b;
    padding: 0.5rem 1rem;
    border: 2px solid #21f379;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.authorized-data-label:hover {
    background-color: #21f379;
    color: #000;
}

