.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 0.1vw inset tomato;
    /* margin: 2vw; */
    padding: 1vw;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    transition: background-color ease-in-out 0.5s;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: tomato;
    transition: background-color ease-in-out 0.5s;
    background-color: silver;
    font-size: larger;
}

.card-data-preview {
    transition: background-color ease-in-out 0.5s;
    color: greenyellow;
    width: 30vw;
}

.card-data-preview h3 {
    background-color: blue;
}

.card:hover {
    background-color: springgreen;
}

.card-title:hover {
    background-color: darkorange;
}

@media screen and (max-width: 800px) {
    .card {
        flex-wrap: wrap;
        justify-content: center;
    }
}