

{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/agents/agent-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Your Agent List</h1>
  <img src="" alt="Sunglasses! Put sun glasses!" />
  <img src="" alt="A dagger probably" />
  <img src="" alt="A gun maybe" />
  <img src="" alt="Some roman symbol" />
</section>

<section class="card-container">
  {% for agent in agents %} <!-- For loop, maps all agent data -->
    <div class="card">
      <!-- Hard coded URLS (<a href="/agents/{{ agent.id }}">) not reccomended -->
      <a href="{% url 'agent-detail' agent.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src=""
              alt="Render image based on experience and type maybe"
            />
          </div>
          <!-- 
          Double curly braces means page is rendering PYTHON syntax, like react 
          -->
          <h2 class="card-title"> [#{{ agent.id }}] - {{ agent.code_name }}</h2>
          <h3>{{ agent.tagline }}</h3>
          
          <p>{{ agent.previous_agency }} agent from {{agent.region}}</p>

          <p>The {{ agent.get_experience_level_display }} {{ agent.get_agent_type_display }}.</p>
          <h6>(File created by {{ agent.user }})</h6> 

          <!-- Update and delete agent -->
          <div class="agent-actions">
            <a href="{% url 'agent-update' agent.id %}" class="btn warn">Edit</a>
            <a href="{% url 'agent-delete' agent.id %}" class="btn danger">Delete</a>
          </div>
          
    

           <!-- Conditional rendering -->
          <!-- {% if agent.property %} -->
          <!-- {% else %} -->
          <!-- {% endif %} Stops If/Else blocks  -->

        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}