


{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="object-container">
  
  <div class="object-details">

    <h1 class="object-title">{{ agent.code_name }}</h1>
    <h3>{{ agent.tagline }}</h3>

    <div class="info-stats-container">

      <section class="stats-container">
          
        <div class="stat-card">
          <h3 class="object-title">Bio</h3>

          
  
          <ul>
            <div class="links-card">
              {% if user.is_authenticated %}
              <li>Legal name/Alias: {{ agent.real_name }}</li>
              <li>Gender: {{ agent.gender }}</li>
              <li>Age: {{ agent.age }}</li>
              <li>Race/Ethnicity: {{ agent.get_race_or_ethnicity_display }}</li>
              <li>Height/Weight: {{ agent.height_cm }}cm/{{ agent.weight_kg }}kg</li>
              {% else %}
              <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
              {% endif %}
            </div>
          </ul>
        </div>
      </section>

      <section class="info-container">

        <h3 class="object-title"> Asset Details </h3>

          {% if agent.gender == 'Female' or agent.gender == 'female' %}
          <img src="{% static 'images/JaneDoe.png' %}" alt="agent image">
          {% else %}
          <img src="{% static 'images/john-doe.png' %}" alt="agent image">
          {% endif %}
        
        <ul>
          <div class="links-card">
            {% if user.is_authenticated %}
            <li>{{ agent.get_agent_type_display }}</li>
            <li>{{ agent.get_experience_level_display }} asset</li>
            <li>{{ agent.previous_agency }}</li>
            {% else %}
            <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
            {% endif %}
          </div>
        </ul>
        
      </section> 
        
      <section class="stats-container">
        <div class="stat-card">
          <h3 class="object-title">Origin</h3>
  
          <ul>
            <div class="links-card">
              {% if user.is_authenticated %}
              <li>Region: {{ agent.region }}</li>
              <li>Place of birth: {{ agent.place_of_birth }}</li>
              <li>Previous agency: {{ agent.previous_agency }}</li>
              {% else %}
              <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
              {% endif %}
            </div>
          </ul>
        </div>
          
      </section>

    </div>

    <article class="lore-container">
      {% if user.is_authenticated %}
      <p>{{ agent.description }}</p>
      {% else %}
      <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
      {% endif %}
    </article>

    <!-- Update and delete agent -->
     
    {% if user and agent.user.id == user.id %}
    <p class="authorized-data-label">[Editing privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'agent-update' agent.id %}" class="btn warn">Edit</a>
        <a href="{% url 'agent-delete' agent.id %}" class="btn danger">Delete</a>
      </div>
    {% elif user and user.is_superuser %}
    <p class="admin-data-label">[Admin privileges granted, {{user.username}}]</p>
      <div class="card-actions">
        <a href="{% url 'agent-update' agent.id %}" class="btn warn">Edit</a>
        <a href="{% url 'agent-delete' agent.id %}" class="btn danger">Delete</a>
      </div>
    {% else %}
      <p class="redacted-data-label">[Editing privileges denied by file owner ({{agent.user.username}})]</p>
    {% endif %}
    
    



  </div>

</section>

<!-- Items associated with this specific agent -->
<div class="related-objects-container">

  <!-- Agent gadgets -->
  <section class="related-objects">
    <div class="object-title">
      <h2>Armory</h2>
      <img src="{% static 'images/pistol.svg' %}" alt="Pistol" />
    </div>

    {% if user.is_authenticated %}
    <h3>{{ agent.code_name }}'s Gadgets</h3>
    <div class="card-container">
      {% if agent.gadgets.count %} 
        {% for gadget in agent.gadgets.all %}
          <div class="card">
            <a href="{% url 'gadget-detail' gadget.id %}">
              <p class="object-title">{{ gadget.name }} - <small>{{ gadget.get_type_display }}</small></p>
            </a>
            <!-- Remove gadget from agent -->
            {% if user and agent.user.id == user.id %}
            <form action="{% url 'remove-gadget' agent.id gadget.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove Gadget</button>
            </form>
            {% endif %}
          </div>
        {% endfor %} 
      {% else %}
        <p class="no-related-objects">{{agent.code_name}} is unequipped</p>
      {% endif %}
    </div>

    
    <h3 class="object-title">Available Gadgets</h3>
    <div class="card-container">
      {% if gadgets.count %} 
        {% for gadget in gadgets.all %}
          <div class="card">
            <a href="{% url 'gadget-detail' gadget.id %}">
              <p class="object-title">{{ gadget.name }} - <small>{{ gadget.get_type_display }}</small></p>
            </a>

            <!-- Give gadget to agent -->
            
            <form action="{% url 'associate-gadget' agent.id gadget.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
              {% csrf_token %}
              <button type="submit" class="btn submit">Give gadget</button>
            </form>
          
            
          </div>
        {% endfor %} 
      {% else %}
        <p class="all-gadgets">{{agent.code_name}} is equipped with all availabele gadgets</p>
      {% endif %}
    </div>
    {% else %}
    <h4 class="redacted-data-label">[Clearance required]</h4>
    <ul>
        <div class="links-card">
            <li><a href="{% url 'signup' %}">Request New (Signup)</a></li>
            <li><a href="{% url 'home' %}">Confirm Existing (Login)</a></li>
        </div>
    </ul>
    {% endif %}


  </section>
  

</div>

{% endblock %}