{% extends 'base.html' %} 
{% block content %}
<h1>Your agents</h1>
<hr />
<p class="page-content">

    <h2> YOUR AGENTS </h2>

    <h1><a href="{% url 'agent-detail' %}"> TEST DETAIL PAGE</a></h1>

    <h3>Solid Snake</h3>
    <p>Espionage</p>

    <h3>Agent 47</h3>
    <p>Assassination</p>

    <h3>Natasha Romanoff</h3>
    <p>Espionage</p>

    <h3>Jason Bourne</h3>
    <p>Counterintelligence</p>

    <h3>Ethan Hunt</h3>
    <p>Covert Operations</p>

    <h3>Sam Fisher</h3>
    <p>Infiltration</p>

    <h3>Lorraine Broughton</h3>
    <p>Espionage</p>

    <h3>John Wick</h3>
    <p>Retaliation</p>

    <h3>Carmen Sandiego</h3>
    <p>Theft & Espionage</p>

    <h3>Jack Ryan</h3>
    <p>Analysis & Fieldwork</p>
      

</p>
{% endblock %}

