


{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/agents/agent-detail.css' %}" />
{% endblock %} 
{% block content %}

<section class="agent-container">
  
  <div class="object-details">

    <div class="info-stats-container">

      <section class="info-container">
        <h1 class="object-title">{{ agent.code_name }}</h1>
        <ul>
          <div class="links-card">
            <li>{{ agent.get_agent_type_display }}</li>
            <li>{{ agent.get_experience_level_display }} asset</li>
            <li>{{ agent.previous_agency }}</li>
          </div>
        </ul>
        <h3><small>{{ agent.tagline }}</small></h3>
      </section> 
  
  
      <section class="stats-container">
          
        <div class="stat-card">
          <h3 class="object-title">Bio</h3>
  
          <ul>
            <div class="links-card">
              <li>Legal name/Alias: {{ agent.real_name }}</li>
              <li>Gender: {{ agent.gender }}</li>
              <li>Age: {{ agent.age }}</li>
              <li>Race/Ethnicity: {{ agent.get_race_or_ethnicity_display }}</li>
              <li>Height/Weight: {{ agent.height_cm }}cm/{{ agent.weight_kg }}kg</li>
            </div>
          </ul>
        </div>
        
        <div class="stat-card">
          <h3 class="object-title">Origin</h3>
  
          <ul>
            <div class="links-card">
              <li>Region: {{ agent.region }}</li>
              <li>Place of birth: {{ agent.place_of_birth }}</li>
              <li>Previous agency: {{ agent.previous_agency }}</li>
            </div>
          </ul>
        </div>
          
      </section>

    </div>

    <article class="lore-container">
      <p>{{ agent.description }}</p>
    </article>

    <!-- Update and delete agent -->
     
    <div class="card-actions">
      <a href="{% url 'agent-update' agent.id %}" class="btn warn">Edit</a>
      <a href="{% url 'agent-delete' agent.id %}" class="btn danger">Delete</a>
    </div>

    <h2> Details </h2>
    
    



  </div>

</section>

<!-- Items associated with this specific agent -->
<div class="gadgets-mission-container">

  <!-- Agent gadgets -->
  <section class="gadgets">
    <div class="object-title">
      <h2>Armory</h2>
    </div>

    <h3>{{ agent.code_name }}'s Gadgets</h3>
    <div class="card-container">
      {% if agent.gadgets.count %} 
        {% for gadget in agent.gadgets.all %}
          <div class="card">
            <a href="{% url 'gadget-detail' gadget.id %}">
              <p class="object-title">{{ gadget.name }} - <small>{{ gadget.get_type_display }}</small></p>
            </a>
            <!-- Remove gadget from agent -->
            <form action="{% url 'remove-gadget' agent.id gadget.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove Gadget</button>
            </form>
          </div>
        {% endfor %} 
      {% else %}
        <p class="no-gadgets">{{agent.code_name}} is unequipped! They may not need any gadgets!</p>
      {% endif %}
    </div>

    <h3 class="object-title">Available Gadgets</h3>
    <div class="card-container">
      {% if gadgets.count %} 
        {% for gadget in gadgets.all %}
          <div class="card">
            <a href="{% url 'gadget-detail' gadget.id %}">
              <p class="object-title">{{ gadget.name }} - <small>{{ gadget.get_type_display }}</small></p>
            </a>

            <!-- Give gadget to agent -->
            <form action="{% url 'associate-gadget' agent.id gadget.id %}" method="post"> <!-- Both IDs provided, seperate via space -->
              {% csrf_token %}
              <button type="submit" class="btn submit">Give gadget</button>
            </form>
            
          </div>
        {% endfor %} 
      {% else %}
        <p class="all-gadgets">{{agent.code_name}} is equipped with all availabele gadgets</p>
      {% endif %}
    </div>


  </section>

  <!-- Agent missions -->
  <section class="missions">
    <div class="subsection-title">
      <h2>Missions</h2>
    </div>

    <!-- Missions for this specific agent -->
    <h3>{{ agent.code_name }}'s Missions</h3>
    <div class="subsection-content">
    </div>


    
    <!-- All missions -->
    <h3>Available Missions</h3>
    <div class="subsection-content">
    </div>

  </section>


  </section>
  

</div>

{% endblock %}