


{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/agents/agent-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="agent-container">
  <div class="agent-img">
    <img src="" alt="Some roman symbol" />
  </div>
  <div class="agent-details">
    <h1>{{ agent.real_name }}</h1>

    <h3>{{ agent.tagline }}</h3>
          
    <p>{{ agent.previous_agency }} agent from {{agent.region}}</p>
    <p>The {{ agent.get_experience_level_display }} {{ agent.get_agent_type_display }}.</p> 
   
    <article class="lore-container">
        <p>{{ agent.description }}</p>
    </article>

    <section class="stats-container">
        <ul>
            <li>Gender: {{ agent.gender }}</li>
            <li>Age: {{ agent.age }}</li>
            <li>Race/Ethnicity: {{ agent.get_race_or_ethnicity_display }}</li>
            <li>Region: {{ agent.region }}</li>
            <li>Place of birth: {{ agent.place_of_birth }}</li>
            <li>Height/Weight: {{ agent.height_cm }}cm/{{ agent.weight_kg }}kg</li>
            <li>Previous agency: {{ agent.previous_agency }}</li>
        </ul>
    </section>

    <h2> Details </h2>
    
    

    <!-- Update and delete agent -->
    <div class="agent-actions">
      <a href="{% url 'agent-update' agent.id %}" class="btn warn">Edit</a>
      <a href="{% url 'agent-delete' agent.id %}" class="btn danger">Delete</a>
    </div>

  </div>

</section>

<!-- Items associated with this specific agent -->
<div class="gadgets-mission-container">

  <!-- Agent gadgets -->
  <section class="gadgets">
    <div class="subsection-title">
      <h2>{{ agent.code_name }}'s Gadgets</h2>
      <img
        src=""
        alt="An ice cream cone agent"
      />
      <img src="" alt="A agent as onigiri" />
      <img
        src=""
        alt="A kabob of agents"
      />
    </div>


  </section>

  <!-- Agent missions -->
  <section class="missions">
    <div class="subsection-title">
      <h2>Missions</h2>
    </div>

    <!-- Missions for this specific agent -->
    <h3>{{ agent.code_name }}'s Missions</h3>
    <div class="subsection-content">
    </div>


    
    <!-- All missions -->
    <h3>Available Missions</h3>
    <div class="subsection-content">
    </div>

  </section>


  </section>
  

</div>

{% endblock %}